@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,400;1,700&display=swap');

:root{
    --primary-color: #7C3AED;
}
body{
    font-family: 'Montserrat', sans-serif;
}

/** container **/



.container-center{
    max-width: 600px;
    margin:auto;
}

/** links **/
.primary-link{
    color:var(--primary-color);
}


